
<html>
{% load static %}
<head></head>
<style>
       .m{
              background-image:url("{% static 'images/abt.jpg' %}");
              width:1300px;
	      height:900px;
              background-size: cover;
              background-repeat: no-repeat;
              img-align: center;
               margin:0px 0px 50px 0px;
            }
body{
  font-size: 20px;
font-align:left;
}

</style>

<body style="background-color:#FF8674;">
<a href="home";><span style='font-size:20px;'>&#8592;</span></a>

<center><img class="m" src="{% static 'images/abt.jpg' %}";/></center>
</body>

</html>