{% load static %}

<html>
  <head>
    <title>BABY SHOWER</title>
    
  </head>
  <style>
* {
			margin: 0;
			padding: 0;
		}
.navbar {
			display: flex;
			align-items: center;
			justify-content:left;
			position: sticky;
			top: 0;
			cursor: pointer;
		}

		.background {
			background: #A94064;

			background-blend-mode: darken;
			background-size: cover;
		}

		.nav-list {
			width: 50%;
			display: flex;
			align-items:left;
		}

		

		.nav-list li {
			list-style: none;
			padding: 26px 30px;
		}

		.nav-list li a {
			text-decoration: none;
			color: white;
		}

		.nav-list li a:hover {
			color: black;
		}

		.rightnav {
			width: 30%;
			text-align: right;
		}

  .container {
  display: grid;
  grid-template-columns:23% 23% 23% 23%;

div{
        margin:23px 23px 23px 23px;
        text-align:center;
}
  
}
<style>
             
              

					.img1{

						float:right;
}
.bt1{

						float:center;
						background-color:#F6416C;
						width:150px;
						height:40px;
}
.bt2{

						float:left;
						background-color:#F9EBEA;
                                    border-color:#F9EBEA;
						width:150px;
						height:40px;
}

	
 
 
  </style>

<body style="background-color:#F9EBEA;" >
<nav class="navbar background">

		<ul class="nav-list">
		      <li><a href="home";>HOME</a></li>
			<li><a href="abt";>ABOUT US</a></li>
			<li><a href="con";>CONTACT US</a></li>
			<li><a href="fd";>FEEDBACK</a></li>
		</ul>

		
	</nav>



            
    <div class="container">
    <div class="image"> <img src="{% static 'images/baby11.WEBP' %}" alt="This is my image." height="280px"/><BR>Baby Shower<br>cake code:201<br>Price-2000/-<br><button class="bt1" type="submit"onclick="mysql1()"style="font-size:20px">ORDER NOW</button>

<script>
                                  function mysql1(){
                                      window.location.href="dsp";
                             }
                                  </script>
             
 </div>


      <div class="image"> <img src="{% static 'images/baby12.jpg' %}" alt="This is my second image." height="280px"/><br>Baby Shower<br>cake code:202<br>Price-2400/-<br><button class="bt1" type="submit"onclick="mysql2()"style="font-size:20px">ORDER NOW</button>
                         <script>
                                  function mysql2(){
                                      window.location.href="dsp";
                             }
                          </script>
 </div> 

      <div class="image"> <img src="{% static 'images/baby4.WEBP' %}" alt="My third image." height="280px"/><BR>Baby Shower<br>cake code:203<br>Price-2700/-<br><button class="bt1" type="submit"onclick="mysql3()"style="font-size:20px">ORDER NOW</button> 
                          <script>
                                  function mysql3(){
                                      window.location.href="dsp";
                             }
                          </script>
 </div> 
 
<div class="image"> <img src="{% static 'images/baby3.jpeg' %}" alt="This is my image." height="280px"/><BR>Baby Shower<br>cake code:204<br>Price-1700/-<br><button class="bt1" type="submit"onclick="mysql4()"style="font-size:20px">ORDER NOW</button> 
                        <script>
                                  function mysql4(){
                                      window.location.href="dsp";
                             }
                        </script>
   </div>

<div class="image"> <img src="{% static 'images/baby5.WEBP' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:205<br>Price-1000/-<br><button class="bt1" type="submit"onclick="mysql5()"style="font-size:20px">ORDER NOW</button>
                   <script>
                                  function mysql5(){
                                      window.location.href="dsp";
                             }
                    </script>
    </div>

<div class="image"> <img src="{% static 'images/baby6.jpg' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:206<br>Price-1200/-<br><button class="bt1" type="submit"onclick="mysql6()"style="font-size:20px">ORDER NOW</button> 
                     <script>
                                  function mysql6(){
                                      window.location.href="dsp";
                             }
                     </script>
     </div>

<div class="image"> <img src="{% static 'images/baby7.jpg' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:207<br>Price-2600/-<br><button class="bt1" type="submit"onclick="mysql7()"style="font-size:20px">ORDER NOW</button>
                        <script>
                                  function mysql7(){
                                      window.location.href="dsp";
                             }
                        </script>
      </div>

<div class="image"> <img src="{% static 'images/baby8.WEBP' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:208<br>Price-2000/-<br><button class="bt1" type="submit"onclick="mysql8()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql8(){
                                      window.location.href="dsp";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/baby9.png' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:209<br>Price-1000/-<br><button class="bt1" type="submit"onclick="mysql9()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql9(){
                                      window.location.href="dsp";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/baby10.jpg' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:210<br>Price-2000/-<br><button class="bt1" type="submit"onclick="mysql10()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql10(){
                                      window.location.href="dsp";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/baby1.jpg' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:211<br>Price-1900/-<br><button class="bt1" type="submit"onclick="mysql11()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql11(){
                                      window.location.href="dsp";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/baby2.jpeg' %}" alt="This is my image." height="280px"/><BR>BABY SHOWER<br>cake code:212<br>Price-1000/-<br><button class="bt1" type="submit"onclick="mysql12()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql12(){
                                      window.location.href="dsp";
                             }
                      </script>
  </div>
    </div>
  </body>
</html>