<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Contact Us Form  | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<style>
        body {
              
              background-image: url("{% static 'images/c2.jpg' %}");
              background-size: cover;
              background-position: cover;
              background-repeat: no-repeat;
              
              Font-size:25px;
              font-align:left; 
            }
            
</style>

<body>
<a href="home";><span style='font-size:20px;'>&#8592;</span></a>

<center>
<b>
<table>
<th><td>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">MAIN BRANCH</div>
          <div class="text-one">Orchid Plaza, 100 Feet Rd ,<br>Near Ganpati Temple,<br>Gandhi nagar,<br>Vishrambag,Sangli,<br> Maharashtra 416416 </div>
</td>
<td></td>
        <td> <div class="topic">BRANCH 1</div>
        <div class="text-one">Shree Plaza ,<br>Near Ganpati Temple,<br>Gandhi nagar,Ashta,<br> Maharashtra 466116 </div>
        </td>

<td> <div class="topic">BRANCH 2</div>
        <div class="text-one">Opposite Cambridge college ,<br>Shivaji nagar,<br>Vishrambag,Miraj,<br> Maharashtra 416410 </div>
        </td>

<td> <div class="topic">BRANCH 3</div>
        <div class="text-one">Shree Plaza, Patil dairy Rd ,<br>Near Chitale Hall<br>Sambhaji nagar,<br>Bhilawadi,<br> Maharashtra 416303 </div>
        </td>    
         </th>
</table>


        </div><br>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+918855985130</div>
          <div class="text-two">+919370434387</div>
          <div class="text-one">+919511714109</div>
        </div><br>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">prachimohite029@gmail.com</div>
          <div class="text-two">vaishnavisutar062@gmail.com</div>
          <div class="text-one">siddhiwaingade2003@gmail.com</div>
        </div>
      </div>
      
      
    </div>
    </div>
  </div>
</b>
</center>
</body>
</html>