{% load static %}

<html>
  <head>
    <title>Pretty</title>
  </head>
  <style>
* {
			margin: 0;
			padding: 0;
		}
.navbar {
			display: flex;
			align-items: center;
			justify-content:left;
			position: sticky;
			top: 0;
			cursor: pointer;
		}

		.background {
			background: #A94064;

			background-blend-mode: darken;
			background-size: cover;
		}

		.nav-list {
			width: 50%;
			display: flex;
			align-items:left;
		}

		

		.nav-list li {
			list-style: none;
			padding: 26px 30px;
		}

		.nav-list li a {
			text-decoration: none;
			color: white;
		}

		.nav-list li a:hover {
			color: black;
		}

		.rightnav {
			width: 30%;
			text-align: right;
		}

  .container {
  display: grid;
  grid-template-columns:23% 23% 23% 23%;

div{
        margin:100px 0px 0px 80px;
        text-align:center;
}
  
}<style>
             
              

					.img1{

						float:right;
}
.bt1{

						float:center;
						background-color:#F6416C;
						width:150px;
						height:40px;
}
.bt2{

						float:left;
						background-color:#F9EBEA;
                                                border-color:#F9EBEA;
						width:150px;
						height:40px;
}

 
  </style>
</head>
<body style="background-color:#F9EBEA;">

<nav class="navbar background">

		<ul class="nav-list">
			
			<li><a href="home";>HOME</a></li>
			<li><a href="abt";>ABOUT US</a></li>
			<li><a href="con";>CONTACT US</a></li>
			<li><a href="fd";>FEEDBACK</a></li>
		</ul>

		
	</nav>


  

    <div class="container">
    <div class="image"> <img src="{% static 'images/anni1.jpg' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:101<br>Price-600/-<br><button class="bt1" type="submit"onclick="mysql3()"style="font-size:20px">ORDER NOW</button>

<script>
                                  function mysql3(){
                                      window.location.href="test";
                             }
                                  </script>
             
 </div>


      <div class="image"> <img src="{% static 'images/anni2.WEBP' %}" alt="This is my second image." height="280px"/><br>WEDDING CAKE<br>cake code:102<br>Price-799/-<br><button class="bt1" type="submit"onclick="mysql4()"style="font-size:20px">ORDER NOW</button>
                         <script>
                                  function mysql4(){
                                      window.location.href="test";
                             }
                          </script>
 </div> 

      <div class="image"> <img src="{% static 'images/anni3.JPEG' %}" alt="My third image." height="280px"/><BR>WEDDING CAKE<br>cake code:103<br>Price-899/-<br><button class="bt1" type="submit"onclick="mysql5()"style="font-size:20px">ORDER NOW</button> 
                          <script>
                                  function mysql5(){
                                      window.location.href="test";
                             }
                          </script>
 </div> 
 
<div class="image"> <img src="{% static 'images/anni4.WEBP' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:104<br>Price-800/-<br><button class="bt1" type="submit"onclick="mysql6()"style="font-size:20px">ORDER NOW</button> 
                        <script>
                                  function mysql6(){
                                      window.location.href="test";
                             }
                        </script>
   </div>

<div class="image"> <img src="{% static 'images/anni5.JPG' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:105<br>Price-900/-<br><button class="bt1" type="submit"onclick="mysql7()"style="font-size:20px">ORDER NOW</button>
                   <script>
                                  function mysql7(){
                                      window.location.href="test";
                             }
                    </script>
    </div>

<div class="image"> <img src="{% static 'images/anni6.WEBP' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:106<br>Price-700/-<br><button class="bt1" type="submit"onclick="mysql8()"style="font-size:20px">ORDER NOW</button> 
                     <script>
                                  function mysql8(){
                                      window.location.href="test";
                             }
                     </script>
     </div>

<div class="image"> <img src="{% static 'images/anni7.JPEG' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:107<br>Price-600/-<br><button class="bt1" type="submit"onclick="mysql9()"style="font-size:20px">ORDER NOW</button>
                        <script>
                                  function mysql9(){
                                      window.location.href="test";
                             }
                        </script>
      </div>

<div class="image"> <img src="{% static 'images/anni8.WEBP' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:108<br>Price-2000/-<br><button class="bt1" type="submit"onclick="mysql10()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql10(){
                                      window.location.href="test";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/anni9.WEBP' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:109<br>Price-400/-<br><button class="bt1" type="submit"onclick="mysql11()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql11(){
                                      window.location.href="test";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/anni10.JPEG' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:110<br>Price-2000/-<br><button class="bt1" type="submit"onclick="mysql12()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql12(){
                                      window.location.href="test";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/anni11.JPG' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:111<br>Price-900/-<br><button class="bt1" type="submit"onclick="mysql13()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql13(){
                                      window.location.href="test";
                             }
                      </script>
  </div>

<div class="image"> <img src="{% static 'images/anni12.WEBP' %}" alt="This is my image." height="280px"/><BR>WEDDING CAKE<br>cake code:112<br>Price-1000/-<br><button class="bt1" type="submit"onclick="mysql14()"style="font-size:20px">ORDER NOW</button> 
                    <script>
                                  function mysql14(){
                                      window.location.href="test";
                             }
                      </script>
  </div>
    </div>
  </body>
</html>